# Next.js
.next/
out/
build/

# Rust/Soroban
target/
**/*.rs.bk

# Node
node_modules/
.pnpm-store/
npm-debug.log*

# Env
.env
.env.local

# Prisma
/prisma/dev.db

# VS Code
.vscode/*
!.vscode/settings.json