openapi: 3.0.3

info:
  title: Decentralized-Ajo API
  version: 1.0.0
  description: API documentation for the Decentralized Ajo platform

servers:
  - url: https://api.decentralized-ajo.app
    description: Production
  - url: http://localhost:3000
    description: Development

tags:
  - name: Auth
    description: Authentication and authorization endpoints
  - name: Ajos
    description: Ajo group management
  - name: Circles
    description: Savings circle management
  - name: Circles Admin
    description: Administrative actions for circles
  - name: Governance
    description: Governance proposals and voting
  - name: Notifications
    description: User notifications
  - name: Profile
    description: User profile management
  - name: Transactions
    description: Financial transactions
  - name: Users
    description: Wallet-based user operations
  - name: Health
    description: API health monitoring

paths:
  /api/auth/register:
    post:
      tags: [Auth]
      operationId: registerUser
      summary: Register a new user
      description: Creates a new user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterInput'
      responses:
        '201':
          description: User successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              example:
                success: true
                token: jwt-token
                user:
                  id: uuid
                  email: user@example.com
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/auth/login:
    post:
      tags: [Auth]
      operationId: loginUser
      summary: Login user
      description: Authenticates user and returns JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInput'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              example:
                success: true
                token: jwt-token
                user:
                  id: uuid
                  email: user@example.com
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/auth/logout:
    post:
      tags: [Auth]
      operationId: logoutUser
      summary: Logout user
      description: Revokes refresh tokens
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                success: true
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/auth/nonce:
    post:
      tags: [Auth]
      operationId: generateNonce
      summary: Generate wallet nonce
      description: Generates a nonce for wallet authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletAddressInput'
      responses:
        '200':
          description: Nonce generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonceResponse'
              example:
                nonce: random-nonce
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/auth/refresh:
    post:
      tags: [Auth]
      operationId: refreshToken
      summary: Refresh access token
      description: Rotates refresh token and returns new access token
      responses:
        '200':
          description: Token refreshed
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/auth/verify:
    post:
      tags: [Auth]
      operationId: verifyWallet
      summary: Verify wallet signature (SIWE)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiweVerifyInput'
      responses:
        '200':
          description: Wallet authenticated
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAuthResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/auth/wallet/nonce:
    post:
      tags: [Auth]
      operationId: generateWalletNonce
      summary: Generate wallet nonce (non-SIWE)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletAddressInput'
      responses:
        '200':
          description: Nonce generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonceResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/auth/wallet/verify:
    post:
      tags: [Auth]
      operationId: verifyStellarWallet
      summary: Verify Stellar wallet signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StellarVerifyInput'
      responses:
        '200':
          description: Wallet authenticated
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAuthResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/ajos:
    get:
      tags: [Ajos]
      operationId: getUserAjos
      summary: Get user's Ajos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of Ajos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AjoListResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

    post:
      tags: [Ajos]
      operationId: createAjo
      summary: Create a new Ajo
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAjoInput'
      responses:
        '201':
          description: Ajo created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AjoResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/ajos/{id}/join:
    post:
      tags: [Ajos]
      operationId: joinAjo
      summary: Join an Ajo
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Joined successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/circles:
    get:
      tags: [Circles]
      operationId: getCircles
      summary: Get user circles
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10 }
        - name: status
          in: query
          schema: { type: string }
        - name: duration
          in: query
          schema:
            type: string
            enum: [Weekly, Monthly, Quarterly]
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [newest, size_desc, size_asc, name_asc, name_desc]
        - name: search
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Circles retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircleListResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/circles/{id}:
    get:
      tags: [Circles]
      operationId: getCircleDetails
      summary: Get circle details
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Circle retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircleResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }

    put:
      tags: [Circles]
      operationId: updateCircle
      summary: Update a circle
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCircleInput'
      responses:
        '200':
          description: Circle updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircleResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/circles/{id}/admin/dissolve:
    post:
      tags: [Circles Admin]
      operationId: dissolveCircle
      summary: Dissolve a circle
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Circle dissolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/circles/{id}/admin/invite:
    post:
      tags: [Circles Admin]
      operationId: inviteMember
      summary: Invite member
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberInput'
      responses:
        '200':
          description: Member invited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/circles/{id}/admin/remove-member:
    post:
      tags: [Circles Admin]
      operationId: removeMember
      summary: Remove member
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveMemberInput'
      responses:
        '200':
          description: Member removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/circles/{id}/contribute:
    post:
      tags: [Circles]
      operationId: contributeToCircle
      summary: Contribute to a circle
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContributionInput'
      responses:
        '201':
          description: Contribution successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContributionResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/circles/{id}/governance:
    get:
      tags: [Governance]
      operationId: getGovernanceProposals
      summary: Get proposals
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Proposals retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GovernanceListResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }

    post:
      tags: [Governance]
      operationId: createProposal
      summary: Create proposal
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProposalInput'
      responses:
        '201':
          description: Proposal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalResponse'
        '400': { $ref: '#/components/responses/BadRequest' }

  /api/circles/{id}/governance/{proposalId}/vote:
    post:
      tags: [Governance]
      operationId: voteOnProposal
      summary: Vote on proposal
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
        - in: path
          name: proposalId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoteInput'
      responses:
        '201':
          description: Vote cast
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoteResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /api/circles/{id}/join:
    get:
      tags: [Circles]
      operationId: previewCircleJoin
      summary: Preview circle
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Preview retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CirclePreviewResponse'

    post:
      tags: [Circles]
      operationId: joinCircle
      summary: Join circle
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '201':
          description: Joined circle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinCircleResponse'
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /api/health:
    get:
      tags: [Health]
      operationId: healthCheck
      summary: Health check endpoint
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/notifications:
    get:
      tags: [Notifications]
      operationId: getNotifications
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Notifications fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }

    patch:
      tags: [Notifications]
      operationId: markAllNotificationsRead
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Notifications marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/notifications/{id}/read:
    patch:
      tags: [Notifications]
      operationId: markNotificationRead
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Notification updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
        '404': { $ref: '#/components/responses/NotFound' }

  /api/profile:
    get:
      tags: [Profile]
      operationId: getProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }

    put:
      tags: [Profile]
      operationId: updateProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileInput'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400': { $ref: '#/components/responses/BadRequest' }

  /api/transactions:
    get:
      tags: [Transactions]
      operationId: getTransactions
      security:
        - bearerAuth: []
      parameters:
        - name: sortBy
          in: query
          schema: { type: string }
        - name: order
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer }
        - name: limit
          in: query
          schema: { type: integer }
        - name: cursor
          in: query
          schema: { type: string }
        - name: circleId
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: type
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Transactions fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'

  /api/user-ajos:
    get:
      tags: [Ajos]
      operationId: getUserAjosByWallet
      parameters:
        - name: address
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: User ajos fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAjoListResponse'

  /api/users/profile:
    get:
      tags: [Users]
      operationId: getWalletProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'

    put:
      tags: [Users]
      operationId: updateWalletProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileInput'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'

  /api/users/update-wallet:
    patch:
      tags: [Users]
      operationId: updateWallet
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWalletInput'
      responses:
        '200':
          description: Wallet updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'


components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    RegisterInput:
      type: object
      required: [email, password, firstName, lastName]
      properties:
        email: { type: string }
        password: { type: string }
        firstName: { type: string }
        lastName: { type: string }

    LoginInput:
      type: object
      required: [email, password]
      properties:
        email: { type: string }
        password: { type: string }

    WalletAddressInput:
      type: object
      properties:
        address: { type: string }

    StellarVerifyInput:
      type: object
      properties:
        address: { type: string }
        signature: { type: string }
        nonce: { type: string }

    UpdateWalletInput:
      type: object
      properties:
        walletAddress: { type: string }

    AuthResponse:
      type: object
      properties:
        success: { type: boolean }
        token: { type: string }
        user:
          $ref: '#/components/schemas/User'

    AuthTokenResponse:
      type: object
      properties:
        success: { type: boolean }
        token: { type: string }

    WalletAuthResponse:
      type: object
      properties:
        token: { type: string }
        address: { type: string }

    NonceResponse:
      type: object
      properties:
        nonce: { type: string }

    SuccessResponse:
      type: object
      properties:
        success: { type: boolean }

    MessageResponse:
      type: object
      properties:
        message: { type: string }

    NotificationResponse:
      type: object
      properties:
        notification:
          $ref: '#/components/schemas/Notification'

    ProfileResponse:
      type: object
      properties:
        success: { type: boolean }
        user:
          $ref: '#/components/schemas/ProfileUser'

    HealthResponse:
      type: object
      properties:
        status: { type: string }
        timestamp: { type: string }

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }

    User:
      type: object
      properties:
        id: { type: string }
        email: { type: string }
        firstName: { type: string }
        lastName: { type: string }

    ProfileUser:
      type: object
      properties:
        id: { type: string }
        email: { type: string }
        firstName: { type: string }
        lastName: { type: string }
        walletAddress: { type: string }

    Notification:
      type: object
      properties:
        id: { type: string }
        message: { type: string }
        read: { type: boolean }

    NotificationListResponse:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        unreadCount:
          type: integer

    TransactionListResponse:
      type: object
      properties:
        contributions:
          type: array
          items:
            type: object
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        nextCursor:
          type: string
          nullable: true

    UserAjoListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object

  responses:

    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'